/* Fonts */
@font-face {
  font-family: 'Muli-reg';
  src: url('../fonts/Muli-Regular.eot');
  src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular.woff2') format('woff2'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-bold';
  src: url('../fonts/Muli-Bold.eot');
  src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Bold.woff2') format('woff2'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype'), url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
html body {
  font-family: 'Muli-reg', sans-serif;
}
.slick-slide {
  outline: none;
}
/* Typography */
section {
  padding: 8rem 0;
}
.button {
  border: 0.2rem solid #ffffff;
  border-radius: 0;
  background-color: transparent;
  font-size: 1.8rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1rem 2rem;
}
.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #b3b3b3;
  border-color: #b3b3b3;
}
.button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
img {
  max-width: 100%;
}
/* New button */
.new-button-container {
  max-width: 19.5rem;
  margin-left: auto;
  text-align: center;
}
.new-button-container .new-button {
  position: relative;
  text-align: right;
  line-height: 6rem;
  color: #ffffff;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#0511ff), color-stop(#ff2232), color-stop(#fff63a), color-stop(#2bff1f), to(#0511ff));
  background: linear-gradient(90deg, #0511ff, #ff2232, #fff63a, #2bff1f, #0511ff);
  padding: 1rem 3rem;
  background-size: 400%;
  border-radius: 3rem;
  z-index: 1;
}
.new-button-container .new-button:hover {
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}
.new-button-container .new-button:before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#0511ff), color-stop(#ff2232), color-stop(#fff63a), to(#2bff1f));
  background: linear-gradient(90deg, #0511ff, #ff2232, #fff63a, #2bff1f);
  background-size: 400%;
  border-radius: 4rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.new-button-container .new-button:hover:before {
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  opacity: 1;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
/* Footer Button */
.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 16rem;
  max-height: 7rem;
  width: 100%;
  height: 100%;
}
.footer-button a {
  position: relative;
  width: 16rem;
  height: 6.1rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
  display: block;
  margin: auto;
}
.footer-button a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: rgba(46, 46, 46, 0.9);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.3rem solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 2rem 5rem rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 2rem 5rem rgba(255, 255, 255, 0.3);
}
.footer-button a span:nth-child(1) {
  -webkit-transform: rotateX(360deg) translateZ(30px);
          transform: rotateX(360deg) translateZ(30px);
}
.footer-button a span:nth-child(2) {
  -webkit-transform: rotateX(270deg) translateZ(30px);
          transform: rotateX(270deg) translateZ(30px);
}
.footer-button a span:nth-child(3) {
  -webkit-transform: rotateX(180deg) translateZ(30px);
          transform: rotateX(180deg) translateZ(30px);
}
.footer-button a span:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(30px);
          transform: rotateX(90deg) translateZ(30px);
}
.footer-button a:hover {
  -webkit-transform: perspective(1000px) rotateX(360deg);
          transform: perspective(1000px) rotateX(360deg);
}
.footer-button a:hover span {
  color: #2e2e2e;
  background: #00900c;
}
/* Main */
.main {
  height: 100vh;
  background: url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 1;
  /* Search form */
  /* Text-main */
}
.main .bg-iron-man {
  position: absolute;
  left: 9%;
  top: 29%;
  width: 60rem;
  max-width: 100%;
  z-index: -1;
}
.main .logo-container:hover {
  cursor: pointer;
}
.main .logo-container .logo-text {
  font-size: 5.3rem;
  color: #eeb501;
  line-height: 5.3rem;
  margin-bottom: 0;
  font-family: 'Muli-bold', sans-serif;
}
.main .logo-container .logo-text b {
  color: #ffffff;
}
.main .logo-container .tag-text {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: #ffffff;
  font-family: 'Muli-bold', sans-serif;
  letter-spacing: 0.8rem;
}
.main .menu {
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Muli-bold', sans-serif;
}
.main .menu a {
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main .menu a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #b3b3b3;
}
.main .collapse-menu-mobile {
  display: none;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main .collapse-menu-mobile:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.main .collapse-menu-mobile span {
  width: 2.5rem;
  height: 0.4rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5rem;
  top: 45%;
  margin-bottom: -0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .collapse-menu-mobile span:before {
  content: '';
  width: 2.5rem;
  height: 0.4rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5rem;
  top: 0.7rem;
}
.main .collapse-menu-mobile span:after {
  content: '';
  width: 2.5rem;
  height: 0.4rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5rem;
  bottom: 0.7rem;
}
.main form input[type=text] {
  width: 3rem;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.2rem;
  background: url('../img/search.png') no-repeat 0.8rem 0.5rem;
  background-size: 2rem;
  padding: 1.5rem 2rem 1.5rem 4rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
  border: 0.2rem solid rgba(0, 0, 0, 0);
}
.main form input[type=text]:focus {
  width: 100%;
  cursor: auto;
  border-radius: 5rem;
  border: 0.2rem solid #ffffff;
  outline: none;
  background-color: #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .main-text-container {
  margin-top: 8rem;
  z-index: 2;
}
.main .main-text-container .text-main {
  font-size: 6rem;
  line-height: 6rem;
  font-family: 'Muli-bold', sans-serif;
  text-align: right;
  color: #ffffff;
}
.main .main-text-container .text-main strong {
  color: #eeb501;
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 12rem;
}
.main .main-text-container .text-inform {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  text-align: right;
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
}
.main .button {
  display: block;
  margin-left: auto;
  margin-top: 5rem;
}
/* Section skills */
.section-skills {
  background: url("../img/bg-skills.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.section-skills .pattern-skills {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: -1;
}
.section-skills .table-skills {
  position: absolute;
  left: 20rem;
  bottom: 0;
  z-index: -1;
}
.section-skills .container-name {
  padding-top: 10rem;
  z-index: 2;
}
.section-skills .container-name .text-head {
  color: #1e0303;
  font-size: 4.3rem;
  line-height: 4.3rem;
  text-align: left;
  font-family: 'Muli-bold', sans-serif;
}
.section-skills .container-name .text-bg {
  color: #ffffff;
  background-color: #eeb501;
  font-size: 5rem;
  line-height: 5rem;
  font-family: 'Muli-bold', sans-serif;
  max-width: 24rem;
  width: 100%;
  text-align: left;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.section-skills .container-name .text-bg:nth-child(3) {
  max-width: 13rem;
  width: 100%;
}
.section-skills .skill-container {
  z-index: 2;
  margin-bottom: 10rem;
}
.section-skills .skill-container .img-container {
  width: 9rem;
  height: 9rem;
  background-color: #eeb501;
  border-radius: 50rem;
  position: relative;
  margin: auto;
}
.section-skills .skill-container .img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.section-skills .skill-container .skills-head-text {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #1e0303;
  text-align: center;
  font-family: 'Muli-bold', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section-skills .skill-container .text-inform {
  color: #1e0303;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
}
/* Section-portfolio */
.section-portfolio {
  background: url("../img/portfolio-bg.jpg") no-repeat;
  background-size: cover;
}
.section-portfolio .head-container {
  text-align: center;
}
.section-portfolio .head-container .text-italic {
  font-size: 2.9rem;
  line-height: 3.9rem;
  font-style: italic;
  color: #ffffff;
}
.section-portfolio .head-container .text-head {
  color: #ffffff;
  font-size: 4.3rem;
  line-height: 5.3rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-portfolio .head-container .text-inform {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 50%;
  margin: auto auto 6rem;
}
.section-portfolio .button {
  display: block;
  margin: 4rem auto auto;
}
.section-portfolio .typewriter-container {
  margin-top: 1rem;
}
/* Section team */
.section-team {
  background: url("../img/bg-team.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  /* end */
}
.section-team .pattern-team {
  position: absolute;
  top: 20rem;
  left: 0;
  z-index: -1;
  width: 7%;
}
.section-team .head-container {
  text-align: center;
}
.section-team .head-container .text-italic {
  font-size: 2.9rem;
  line-height: 3.9rem;
  font-style: italic;
  color: #1e0303;
}
.section-team .head-container .text-head {
  color: #1e0303;
  font-size: 4.3rem;
  line-height: 5.3rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-team .photo-container {
  margin-top: 4.5rem;
  text-align: center;
  z-index: 3;
  /* Cards */
}
.section-team .photo-container .cards {
  position: relative;
  min-width: 4rem;
  width: 100%;
  min-height: 37rem;
  height: 100%;
  background-color: #cccccc;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section-team .photo-container .cards:hover .img-box {
  opacity: 0.5;
}
.section-team .photo-container .cards:hover .content {
  bottom: 0;
}
.section-team .photo-container .cards:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}
.section-team .photo-container .cards .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section-team .photo-container .cards .img-box img {
  width: 100%;
}
.section-team .photo-container .cards .content {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.section-team .photo-container .cards .content .designer-name {
  font-size: 2.9rem;
  line-height: 2.9rem;
  margin-top: 2rem;
  color: #ffffff;
  font-family: 'Muli-bold', sans-serif;
}
.section-team .photo-container .cards .content .designer-work {
  font-size: 2rem;
  color: #eeb501;
}
.section-team .photo-container .cards .content .designer-info {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.section-team .photo-container .cards .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto 0;
  padding: 0;
}
.section-team .photo-container .cards .content ul li {
  list-style: none;
}
.section-team .photo-container .cards .content ul li a {
  color: #ffffff;
  padding: 0 1rem;
  font-size: 2rem;
}
.section-team .photo-container .one .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#c2000b), to(transparent));
  background: linear-gradient(0deg, #c2000b, transparent);
}
.section-team .photo-container .two .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#8012a5), to(transparent));
  background: linear-gradient(0deg, #8012a5, transparent);
}
.section-team .photo-container .three .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#009627), to(transparent));
  background: linear-gradient(0deg, #009627, transparent);
}
.section-team .photo-container .four .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#0034ea), to(transparent));
  background: linear-gradient(0deg, #0034ea, transparent);
}
/* Section feedback */
.section-feedback {
  background: url("../img/bg-feedback.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.section-feedback .head-container {
  text-align: center;
}
.section-feedback .head-container .text-italic {
  font-size: 2.9rem;
  line-height: 3.9rem;
  font-style: italic;
  color: #ffffff;
}
.section-feedback .head-container .text-head {
  color: #ffffff;
  font-size: 4.3rem;
  line-height: 5.3rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-feedback .feedback-container {
  text-align: center;
}
.section-feedback .feedback-container p img {
  margin: auto;
}
.section-feedback .feedback-container .text-inform {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 70%;
  margin: auto auto 3rem;
}
.section-feedback .feedback-container .designer-name {
  font-size: 2.9rem;
  line-height: 2.9rem;
  margin-top: 2rem;
  color: #eeb501;
  font-family: 'Muli-bold', sans-serif;
}
.section-feedback .feedback-container .designer-work {
  font-size: 2rem;
  color: #ffffff;
}
.section-feedback .hook-left {
  position: absolute;
  top: 0;
}
.section-feedback .hook-right {
  position: absolute;
  top: 5rem;
  margin-left: 105rem;
}
/* Section countdown */
.section-countdown {
  background-color: #313335;
}
.section-countdown .count-container p {
  text-align: center;
  font-size: 12rem;
  color: #ffffff;
  font-family: 'Muli-bold', sans-serif;
}
.section-countdown .count-container #clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.section-countdown .count-container #clock div {
  position: relative;
  width: 10rem;
  padding: 2rem;
  margin: 0 0.5rem;
  background: #262626;
  color: #ffffff;
  border: 0.2rem solid #000;
}
.section-countdown .count-container #clock div span {
  display: block;
}
.section-countdown .count-container #clock div span:nth-child(1) {
  font-size: 4.8rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-countdown .count-container #clock div span:nth-child(2) {
  font-size: 1.8rem;
  font-family: 'Muli-bold', sans-serif;
  margin-top: -0.1rem;
}
.section-countdown .count-container #clock div:last-child {
  background: #e91e63;
}
.section-countdown .count-container #clock div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
}
/* Section clients */
.section-clients {
  background: url("../img/bg-clients.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.section-clients .head-container {
  text-align: center;
}
.section-clients .head-container .text-italic {
  font-size: 2.9rem;
  line-height: 3.9rem;
  font-style: italic;
  color: #1e0303;
}
.section-clients .head-container .text-head {
  color: #1e0303;
  font-size: 4.3rem;
  line-height: 5.3rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-clients .head-container .text-inform {
  color: #1e0303;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 50%;
  margin: auto auto 6rem;
}
.section-clients .container-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.1rem solid #262626;
  max-width: 25.5rem;
  height: 15rem;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.section-clients .container-brand:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.9rem 0.4rem #c2980b;
          box-shadow: inset 0.1rem 0.1rem 0.9rem 0.4rem #c2980b;
  -webkit-filter: blur(0.01rem);
          filter: blur(0.01rem);
  cursor: pointer;
}
.section-clients .container-brand img {
  display: inline-block;
  margin: auto;
}
/* Section footer */
.section-footer {
  background: url("../img/bg-footer.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
}
.section-footer .head-container {
  text-align: center;
}
.section-footer .head-container .text-italic {
  font-size: 2.9rem;
  line-height: 3.9rem;
  font-style: italic;
  color: #ffffff;
}
.section-footer .head-container .text-head {
  color: #ffffff;
  font-size: 4.3rem;
  line-height: 5.3rem;
  font-family: 'Muli-bold', sans-serif;
}
.section-footer .map-container {
  display: block;
  margin: 2rem auto auto;
  overflow: hidden;
  padding-bottom: 27%;
  position: relative;
  height: 0;
}
.section-footer .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.section-footer .form-container {
  margin-top: 7rem;
}
.section-footer .form-container .text-inform {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.section-footer .form-container input {
  background-color: #2e2e2e;
  color: #adadad;
  border: 0.1rem solid #232323;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.9rem;
  font-size: 1.7rem;
}
.section-footer ul {
  max-width: 20%;
  list-style: none;
  padding-left: 0;
  margin: 5rem auto;
}
.section-footer ul li {
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  background-color: #eeb501;
  border-radius: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.section-footer ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #ffffff;
  font-size: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-footer ul li a:hover {
  color: #adadad;
}
.section-footer .text-inform {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
.section-footer .text-inform:nth-child(4) {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-bottom: 0.5rem solid #eeb501;
}
/*  Scroll up button*/
.scroll-up-button-container {
  display: none;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #2e2e2e;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 20;
}
.scroll-up-button-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.scroll-up-button-container .scroll-up-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  top: 30%;
}
.scroll-up-button-container .scroll-up-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  border-left: 0.3rem solid #ffffff;
  border-top: 0.3rem solid #ffffff;
  -webkit-animation: btnTop 1s linear infinite;
          animation: btnTop 1s linear infinite;
}
.scroll-up-button-container .scroll-up-container span:nth-child(1) {
  top: -1rem;
  left: -1rem;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.scroll-up-button-container .scroll-up-container span:nth-child(2) {
  top: -0.5rem;
  left: -0.5rem;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.scroll-up-button-container .scroll-up-container span:nth-child(3) {
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.scroll-up-button-container .scroll-up-container span:nth-child(4) {
  top: 0.5rem;
  left: 0.5rem;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.scroll-up-button-container .scroll-up-container span:nth-child(5) {
  top: 1rem;
  left: 1rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes btnTop {
  0% {
    border-color: #2e2e2e;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20.1%,
  100% {
    border-color: #2e2e2e;
    -webkit-transform: translate(0.5rem, 0.5rem);
            transform: translate(0.5rem, 0.5rem);
  }
  100% {
    border-color: #ffffff;
  }
}
@keyframes btnTop {
  0% {
    border-color: #2e2e2e;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20.1%,
  100% {
    border-color: #2e2e2e;
    -webkit-transform: translate(0.5rem, 0.5rem);
            transform: translate(0.5rem, 0.5rem);
  }
  100% {
    border-color: #ffffff;
  }
}
/* Media */
@media (max-width: 1200px) {
  /* Main */
  .main .menu {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .main .bg-iron-man {
    position: absolute;
    left: 9%;
    top: 21%;
    width: 40rem;
    max-width: 100%;
    z-index: -1;
  }
  /* section-portfolio */
  .section-portfolio .typewriter-container {
    margin-top: 1.2rem;
  }
  /* Section team */
  .section-team .photo-container .cards {
    min-height: 30.5rem;
  }
  .section-team .photo-container .cards .content .designer-name {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .section-team .photo-container .cards .content .designer-work {
    font-size: 1.5rem;
  }
  .section-team .photo-container .cards .content .designer-info {
    font-size: 1rem;
  }
  /* Section feedback */
  .section-feedback .hook-right {
    position: absolute;
    top: 5rem;
    margin-left: 87rem;
  }
  /* Section clients */
  .section-clients .container-brand {
    width: 21rem;
  }
}
@media (max-width: 992px) {
  /* Main */
  .main .logo-container .logo-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  .main .logo-container .tag-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
    letter-spacing: 0.7rem;
  }
  .main .menu {
    font-size: 1rem;
    line-height: 1rem;
  }
  .main form input[type=text] {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    background: url(../img/search.png) no-repeat 0.3rem 0.2rem;
    background-size: 1.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    padding: 0.5rem 2rem;
  }
  .main form input[type=text]:focus {
    border: 0.1rem solid #ffffff;
  }
  /* Section-skills */
  .section-skills .table-skills {
    left: 17rem;
    width: 50%;
  }
  /* Section-portfolio */
  .section-portfolio .head-container .text-inform {
    max-width: 100%;
  }
  .section-portfolio .typewriter-container {
    margin-top: 1.4rem;
  }
  /* Section team */
  .section-team .photo-container .cards {
    min-height: 21.5rem;
  }
  .section-team .photo-container .cards .content {
    height: 90%;
  }
  /* Section feedback */
  .section-feedback .hook-right {
    position: absolute;
    top: 5rem;
    margin-left: 63rem;
  }
  /* Section clients */
  .section-clients .container-brand {
    width: 15rem;
  }
  .section-clients .container-brand img {
    max-width: 60%;
  }
  /* Section footer */
  .section-footer .form-container input {
    max-width: 70%;
    margin: 0.5rem auto;
  }
  .section-footer .form-container .button {
    display: block;
    margin-top: 2rem;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-footer .footer-button {
    margin: 5rem auto auto;
  }
  .section-footer ul {
    max-width: 30%;
  }
}
@media (max-width: 768px) {
  /* Main */
  .main .main-text-container .text-main {
    text-align: center;
  }
  .main .main-text-container .text-inform {
    text-align: center;
    margin: auto;
  }
  .main .bg-iron-man {
    display: none;
  }
  .main .button {
    margin-right: auto;
  }
  .main form {
    display: none;
  }
  .main .wrapper {
    min-height: 14rem;
    height: 100%;
  }
  .main .wrapper .menu {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .main .wrapper .menu a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.1rem  transparent;
    border-radius: 0.2rem;
    margin-bottom: 0.1rem;
  }
  .main .wrapper .menu a:hover {
    width: 100%;
    background-color: #2e2e2e;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
  }
  .main .wrapper .menu.active-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .collapse-menu-mobile {
    display: block;
  }
  .main .collapse-menu-mobile.active span {
    background-color: transparent;
  }
  .main .collapse-menu-mobile.active span:before {
    -webkit-transform: rotate(-45deg) translateY(0.2rem);
            transform: rotate(-45deg) translateY(0.2rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .main .collapse-menu-mobile.active span:after {
    -webkit-transform: rotate(45deg) translateY(-0.3rem);
            transform: rotate(45deg) translateY(-0.3rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main .main-text-container {
    margin-top: 4rem;
  }
  .main .main-text-container .text-main {
    font-size: 4rem;
    line-height: 4rem;
  }
  .main .main-text-container .text-main strong {
    font-size: 6rem;
    line-height: 6rem;
  }
  .main .main-text-container .text-inform {
    font-size: 1.5rem;
  }
  .main .new-button-container {
    margin: 10rem auto auto;
  }
  /* Section-skills */
  .section-skills .container-name {
    padding-top: 0;
    margin-bottom: 4rem;
  }
  .section-skills .container-name .text-head {
    text-align: center;
  }
  .section-skills .container-name .text-bg {
    text-align: center;
    margin: auto auto 0.5rem;
  }
  .section-skills .skill-container {
    margin-bottom: 4rem;
  }
  .section-skills .pattern-skills {
    width: 25%;
  }
  /* Section-portfolio */
  .section-portfolio .typewriter-container {
    margin-top: 1.5rem;
  }
  /* Section team */
  .section-team .photo-container .cards {
    min-height: 15rem;
  }
  .section-team .photo-container .cards .content {
    height: 80%;
  }
  .section-team .photo-container .cards .content .designer-name {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .section-team .photo-container .cards .content .designer-work {
    font-size: 1.2rem;
  }
  .section-team .photo-container .cards .content .designer-info {
    display: none;
  }
  .section-team .photo-container .cards .content ul li a {
    font-size: 1.2rem;
  }
  /* Section feedback */
  .section-feedback .feedback-container {
    margin-top: 2rem;
  }
  .section-feedback .feedback-container .text-inform {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .section-feedback .hook-left {
    width: 4rem;
  }
  .section-feedback .hook-right {
    position: absolute;
    top: 5rem;
    margin-left: 45rem;
    width: 4rem;
  }
  /* Section clients */
  .section-clients .head-container .text-inform {
    max-width: 90%;
  }
  .section-clients .container-brand {
    width: 12rem;
    height: 12rem;
  }
  .section-clients .container-brand img {
    max-width: 60%;
  }
  /* Section footer */
  .section-footer ul {
    max-width: 40%;
  }
}
@media (max-width: 576px) {
  /* Main */
  .main .logo-container .tag-text {
    letter-spacing: 0.5rem;
  }
  /* Section-skills */
  .section-skills .table-skills {
    display: none;
  }
  /* Section-portfolio */
  .section-portfolio .typewriter-container {
    margin-top: 1.7rem;
  }
  /* Section-team */
  .section-team .pattern-team {
    display: none;
  }
  /* Section team */
  .section-team .photo-container .cards {
    min-height: 24rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-team .photo-container .cards .content .designer-name {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .section-team .photo-container .cards .content .designer-work {
    font-size: 1.5rem;
  }
  .section-team .photo-container .cards .content .designer-info {
    font-size: 1rem;
  }
  .section-team .margin-bottom-2 {
    margin-bottom: 3rem;
  }
  .pattern-team {
    display: none;
  }
  /* Section feedback */
  .section-feedback .feedback-container {
    margin-top: 2rem;
  }
  .section-feedback .feedback-container .text-inform {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .section-feedback .hook-left {
    display: none;
  }
  .section-feedback .hook-right {
    display: none;
  }
  /* Section countdown */
  /* Section clients */
  .section-clients .container-brand {
    width: 15rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  .section-clients .container-brand img {
    max-width: 50%;
  }
  .section-clients .br-none {
    display: none;
  }
  /* Section footer */
  .section-footer .map-container {
    padding-bottom: 50%;
  }
  .section-footer .form-container input {
    padding: 1rem;
  }
  .section-footer ul {
    max-width: 65%;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .section-countdown .count-container p {
    font-size: 5rem;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .section-countdown .count-container #clock div {
    padding: 0.5rem;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .section-countdown .count-container #clock div span:nth-child(1) {
    padding: 0.5rem;
    font-size: 2.8rem;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .section-countdown .count-container #clock div span:nth-child(2) {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
